<div>
  <div class="purchases-container">
    
    <% @purchases.each do |purchase| %>
      <div class="purchase-item">
        <%= link_to purchase.name, category_purchase_path(@category, purchase) %>
        $ <%= purchase.amount %>
      </div>
    <% end %>
  </div>
  <div class="links">
      <%= link_to "Add a New Purchase", new_category_purchase_path(@category) %>
      <%= link_to "Categories", categories_path , class: "new-category-button" %>
  </div>
</div>