@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/Proxima Nova Font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eff2f1;
  font-family: 'Proxima Nova', sans-serif;
}

.item-title-color {
  color: #ababab;
}

.amount-color {
  color: #373e48;
}

.date-color {
  color: #bababd;
}

.green-btn {
  background-color: #60b524;
  color: #fff;
  border: 2px solid #fff;
}

.green-btn:hover {
  background-color: #60b524;
  color: #fff;
}

.red-btn {
  background-color: #b84041;
  color: #fff;
}

.blue-nav-white-text {
  background-color: #3778c2;
  color: #fff;
}

.orange-btn {
  background-color: #d07438;
  color: #fff;
}

.blue {
  color: #3778c2;
}

.blue-btn {
  background-color: #3778c2;
  color: #fff;
}

.card-item {
  background-color: #fff;
  color: #373e48;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  gap: 10px;
}

.card-img {
  width: 50px;
  height: 50px;
}

.form-category {
  padding: 1em;
  gap: 2em;
}

#purchase-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.category-purchase-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em auto;
}

.confirm-purchase {
  background-color: #60b524;
}

.back-to-purchase-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.back-to-purchase,
.categories-btn {
  text-decoration: underline;
}

.name, .email, .password, .form-control{
  height: 48px;
}

.green-btn strong , .new-category-btn a, .create-category-btn, .create-purchase-btn{
  border: 2px solid #fff;
  padding: 5px 4em;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.category-purchase-container {
  padding: 1em;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.transaction-link {
  text-decoration: underline;
  color: #3778c2;
  display: flex;
  flex-direction: column;
}
